<!DOCTYPE html>
<html>
	{% load static %}
	<head>
		<meta charset="UTF-8">
		<title>home</title>
		<link rel="stylesheet" href="{% static 'css/study_diary.css' %}">
	    <script type="text/javascript" src="{% static 'js/jquery-3.5.1.js' %}"></script>
	</head>
	<body id="index_body"  class="container">
			{% if 'user' in request.session %}
				<h4 align="center">{{ request.session.user }}님 환영합니다 !</h4>
				<a href="{% url 'logout' %}">로그아웃</a>
			{% else %}
				<h4 align="center"><a href="{% url 'login' %}">로그인하기</a></h4>
			{% endif %}

			<ul id="main_chart" align="center" id="index_menu">
				<li style="display:inline-block" class="index_menu_item"><a href="{% url 'daily' %}">Daily </a></li>
				<li style="display:inline-block" class="index_menu_item"><a href="{% url 'monthly' %}">Monthly </a></li><br>
				<li style="display:inline-block" class="index_menu_item"><a href="{% url 'diary' %}">Diary </a></li>
				<li style="display:inline-block" class="index_menu_item"><a href="{% url 'chart' %}">Chart </a></li>
            </ul>
    </body>
</html>
